# Dependencies
node_modules/
.pnp/
.pnp.js

# Logs & Output
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local

# Build & Distribution
/dist/
/dist-ssr/
*.tsbuildinfo
.vite/

# Environment & Secrets
.env
.env.*
!.env.example

# VS Code
.vscode/*
!.vscode/extensions.json
.vscode/settings.json
.vscode/launch.json

# JetBrains
.idea/
*.iml

# Visual Studio / Others
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db

# AI & Automation Tools
.agents/*
.playwright-mcp/*
/skills*.json
/*.png

# Documentation
docs/